<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>VladimirP MEGA Project</title>
    </head>

    <body>
            <script src='js/login.js'></script>

            <div class="login" align="center">
                <input id="login" type="text" placeholder="username" name="user"><br>
                <input id="password" type="password" placeholder="password" name="password"><br>
                <button onclick="sendLoginForm()">Login</button>
            </div>

            <img id="result" align="center" src="pics/">
    </body>

</html>